#root {
  max-width: 1540px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
}
.extend-search-form {
  animation: fadeInDown 0.5s ease; /* Use fadeInDown animation with duration of 0.5s and easing function */
}

@keyframes fadeInDown {
  0% {
    height: 0%;
  }
  100% {
    height: 25%;
  }
}

button:active {
  transform: scale(0.95);
  transition: transform 0.8s ease;
}
.ant-card-head {
  background-color: #1e3a8a !important;
  color: white !important;
}
.ant-tabs-tab-btn{
color: white !important;
}